*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/build/
/repositories-impl/build/
/repositories/build/
/network-impl/build/
/network/build/
/navigation-impl/build/
/navigation/build/
/entity/build/
/database/build/
/database-impl/build/
/core-di/build/
/core-ui/build/
/feature-core/build/
/features/main/build/
/features/main-impl/build/
